article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;}[hidden]{display:none;}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}body{margin:0;}body,button,input,select,textarea{font-family:sans-serif;}a{color:#00e;}a:visited{color:#551a8b;}a:focus{outline:thin dotted;}a:hover,a:active{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}pre,code,kbd,samp{font-family:monospace,serif;_font-family:Consolas,'courier new',monospace;font-size:1em;}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:'';content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}ul,ol{margin:1em 0;padding:0 0 0 40px;}dd{margin:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}figure{margin:0;}form{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;*margin-left:-7px;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}button,input{line-height:normal;*overflow:visible;}table button,table input{*overflow:auto;}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('fonts/League_Gothic-webfont.eot');							/* IE9 Compat Modes */
	src: url('fonts/League_Gothic-webfont.eot?iefix') format('eot'),		/* IE6-IE8 */
	     url('fonts/League_Gothic-webfont.woff') format('woff'),			/* Modern Browsers */
	     url('fonts/League_Gothic-webfont.ttf')  format('truetype'),		/* Safari, Android, iOS */
	     url('fonts/League_Gothic-webfont.svg#svgFontName') format('svg');	/* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

body, input {
	font-size: 100%;
}
body {
	background-color: #F8F8F8;
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	margin: auto;
	width: 80%;
	min-width: 600px;
}

h1, h1 a:link, h1 a:hover, h1 a:active, h1 a:visited {
	color: #999;
	font-family: LeagueGothicRegular, 'League Gothic', "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Tahoma, Arial, sans-serif;
	text-decoration: none;
}
h1 {
	font-size: 1000%;
	margin: 0 auto 0.25em;
	padding: 0;
	text-align: center;
	text-shadow: 0px -1px 1px silver;
	white-space: nowrap;
}
h2 {
	font-size: 150%;
}
h3 {
	font-size: 125%;
}

a:link, a:hover, a:active, a:visited {
	color: #006699;
}

dl {
	margin: 0;
	padding: 0.75em 0.25em;
}

dl dt {
	font-weight: bold;
	margin: 0 0 0 0.5em;
	padding: 0.25em 0 0.25em 0.5em;
}

dl dd {
	list-style-type: none;
	margin: 0 0 0 1.5em;
	padding: 0.25em 0 0.25em 1.5em;
}

footer {
	border-top: 1px solid #F1F1F1;
	clear: both;
	margin: 4em auto;
	padding-top: 1em;
	text-align: right;
}

#counter {
	border: 0;
	font-size: 250%;
	font-weight: normal;
	min-height: 3em;
	text-align: center;
}
#counter strong {
	white-space: nowrap;
}

#countdown-start,
#countdown-units {
	background-color: #EEE;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 150%;
	padding: 0.25em 0.5em;
	width: 100%;
}
#countdown-start span,
#countdown-units span {
	line-height: 1.5em;
	white-space: nowrap;
}
#countdown-start,
#countdown-units {
	text-align: center;
}
#countdown-start label {
	font-weight: bold;
	padding: 0 0.25em;
}
#countdown-start input {
	border: 1px solid silver;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-align: center;
}
#countdown-units span {
	display: block;
}
#countdown-units label {
	font-weight: bold;
	padding: 0.25em;
}
#countdown-units input {
	border: 1px solid silver;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-right: 0.5em;
	text-align: center;
}

/* http://ubuwaits.github.com/css3-buttons/ */

a.minimal:link, a.minimal:visited {
	background: #e3e3e3;
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 0px 0px 1px 1px #f6f6f6;
	-moz-box-shadow: inset 0px 0px 1px 1px #f6f6f6;
	-webkit-box-shadow: inset 0px 0px 1px 1px #f6f6f6;
	color: #333;
	display: inline-block;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	padding: 8px 0 9px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0px #fff;
	width: 150px;
}

a.minimal:hover {
	background: #d9d9d9;
	box-shadow: inset 0px 0px 1px 1px #eaeaea;
	-moz-box-shadow: inset 0px 0px 1px 1px #eaeaea;
	-webkit-box-shadow: inset 0px 0px 1px 1px #eaeaea;
	color: #222;
}

a.minimal:active {
	background: #d0d0d0;
	box-shadow: inset 0px 0px 1px 1px #e3e3e3;
	-moz-box-shadow: inset 0px 0px 1px 1px #e3e3e3;
	-webkit-box-shadow: inset 0px 0px 1px 1px #e3e3e3;
	color: #000;
}

.summary {
	font-size: 12pt;
	text-align: center;
}

.box {
	background-color: #FFF;
	border: 1px solid silver;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0px 0px 4px #DDDDDD;
	-moz-box-shadow: 0px 0px 4px #DDDDDD;
	-webkit-box-shadow: 0px 0px 4px #DDDDDD;
	float: left;
	height: 200px;
	line-height: 1.75em;
	margin: 0.5em 0 0.5em 0.5em;
	padding: 0.125em 0.5em;

	width: 45%;
}

.box h2 {
	border-bottom: none;
	color: #666;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 -1px 1px silver;
	text-transform: lowercase;
}

.box ul, .box li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.box a.minimal {
	margin: 0.25em;
	text-transform: lowercase;
}

.box a.glow {
	box-shadow: 0px 0px 4px #FFCC00;
	-moz-box-shadow: 0px 0px 4px #FFCC00;
	-webkit-box-shadow: 0px 0px 4px #FFCC00;
}

.action-info {
	font-style: italic;
	white-space: nowrap;
}
